<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Liga Threads</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/_header', {
    headerClass: 'header-home',
    showAuthLinks: true,
    showLeagueLink: false,
    useTeamHeader: false
  }) %>  
  <h1>La Liga Threads</h1>

  <a href="/create-laliga-thread.html"><button>Create New Thread</button></a>

  <div class="thread-list">
    <!-- Dynamically populated threads -->
  </div>
  <%- include('partials/_authModals') %>
</body>
</html>
