<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>La Liga Teams</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include('partials/_header', {
  headerClass: 'header-default',
  useTeamHeader: typeof useTeamHeader !== 'undefined' ? useTeamHeader : false,
  leagueSlug: typeof leagueSlug !== 'undefined' ? leagueSlug : '',
  leagueName: typeof leagueName !== 'undefined' ? leagueName : ''
}) %>

  <div class="card-container">
    <a href="/team/real-madrid" class="card" style="background-image: url('/la-liga-images/real-madrid.png');"></a>
    <a href="/team/barcelona" class="card" style="background-image: url('/la-liga-images/barcelona.png');"></a>
    <a href="/team/atletico-madrid" class="card" style="background-image: url('/la-liga-images/atletico.png');"></a>
    <a href="/team/athletic-bilbao" class="card" style="background-image: url('/la-liga-images/athletic-bilbao.png');"></a>
    <a href="/team/sevilla" class="card" style="background-image: url('/la-liga-images/sevilla.png');"></a>
    <a href="/team/real-sociedad" class="card" style="background-image: url('/la-liga-images/real-sociedad.png');"></a>
    <a href="/team/valencia" class="card" style="background-image: url('/la-liga-images/valencia.png');"></a>
    <a href="/team/villarreal" class="card" style="background-image: url('/la-liga-images/villarreal.png');"></a>
    <a href="/team/real-betis" class="card" style="background-image: url('/la-liga-images/real-betis.png');"></a>
    <a href="/team/celta-vigo" class="card" style="background-image: url('/la-liga-images/celta-vigo.png');"></a>
    <a href="/team/getafe" class="card" style="background-image: url('/la-liga-images/getafe.png');"></a>
    <a href="/team/osasuna" class="card" style="background-image: url('/la-liga-images/osasuna.png');"></a>
    <a href="/team/real-mallorca" class="card" style="background-image: url('/la-liga-images/real-mallorca.png');"></a>
    <a href="/team/rayo-vallecano" class="card" style="background-image: url('/la-liga-images/rayo-vallecano.png');"></a>
    <a href="/team/espanyol" class="card" style="background-image: url('/la-liga-images/rcd-espanyol.png');"></a>
    <a href="/team/girona" class="card" style="background-image: url('/la-liga-images/girona.png');"></a>
    <a href="/team/alaves" class="card" style="background-image: url('/la-liga-images/deportivo-alaves.png');"></a>
    <a href="/team/las-palmas" class="card" style="background-image: url('/la-liga-images/las-palmas.png');"></a>
    <a href="/team/leganes" class="card" style="background-image: url('/la-liga-images/cd-leganes.png');"></a>
    <a href="/team/real-valladolid" class="card" style="background-image: url('/la-liga-images/real-valladolid.png');"></a>
  </div>
</body>
</html>