<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17258435147"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17258435147');
</script>
  <title>Ligue 1 Teams 2024/2025</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include('partials/_header', {
    headerClass: 'header-home',
    showAuthLinks: true,
    showLeagueLink: false,
    useTeamHeader: false,
    hideAuthModals: true
  }) %>

  <div class="card-container">
    <a href="/team/psg" class="card" style="background-image: url('/ligue1-images/psg.jpg');"></a>
    <a href="/team/olympique-marseille" class="card" style="background-image: url('/ligue1-images/olympique-marseille.jpg');"></a>
    <a href="/team/monaco" class="card" style="background-image: url('/ligue1-images/monaco.jpg');"></a>
    <a href="/team/lyon" class="card" style="background-image: url('/ligue1-images/lyon.jpg');"></a>
    <a href="/team/lille" class="card" style="background-image: url('/ligue1-images/lille.jpg');"></a>
    <a href="/team/nice" class="card" style="background-image: url('/ligue1-images/nice.jpg');"></a>
    <a href="/team/rennes" class="card" style="background-image: url('/ligue1-images/rennes.jpg');"></a>
    <a href="/team/lens" class="card" style="background-image: url('/ligue1-images/lens.jpg');"></a>
    <a href="/team/strasbourg" class="card" style="background-image: url('/ligue1-images/strasbourg.jpg');"></a>
    <a href="/team/reims" class="card" style="background-image: url('/ligue1-images/reims.jpg');"></a>
    <a href="/team/brest" class="card" style="background-image: url('/ligue1-images/brest.jpg');"></a>
    <a href="/team/toulouse" class="card" style="background-image: url('/ligue1-images/toulouse.jpg');"></a>
    <a href="/team/montpellier" class="card" style="background-image: url('/ligue1-images/montpellier.jpg');"></a>
    <a href="/team/nantes" class="card" style="background-image: url('/ligue1-images/nantes.jpg');"></a>
    <a href="/team/le-havre" class="card" style="background-image: url('/ligue1-images/le-havre.jpg');"></a>
    <a href="/team/auxerre" class="card" style="background-image: url('/ligue1-images/auxerre.jpg');"></a>
    <a href="/team/angers" class="card" style="background-image: url('/ligue1-images/angers.jpg');"></a>
    <a href="/team/saint-etienne" class="card" style="background-image: url('/ligue1-images/saint-etienne.jpg');"></a>
  </div>
</body>
</html>
