<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17258435147"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-17258435147');
</script>
  <title>Roshn Saudi League Teams</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include('partials/_header', {
    headerClass: 'header-home',
    showAuthLinks: true,
    showLeagueLink: false,
    useTeamHeader: false,
    hideAuthModals: true
  }) %>

  <div class="card-container">
    <a href="/team/al-hilal" class="card" style="background-image: url('/roshn-saudi-images/al-hilal.png');"></a>
    <a href="/team/al-nassr" class="card" style="background-image: url('/roshn-saudi-images/al-nassr.png');"></a>
    <a href="/team/al-ittihad" class="card" style="background-image: url('/roshn-saudi-images/al-ittihad.png');"></a>
    <a href="/team/al-ahli" class="card" style="background-image: url('/roshn-saudi-images/al-ahli.png');"></a>
    <a href="/team/al-shabab" class="card" style="background-image: url('/roshn-saudi-images/al-shabab.png');"></a>
    <a href="/team/al-taawoun" class="card" style="background-image: url('/roshn-saudi-images/al-taawoun.png');"></a>
    <a href="/team/al-ettifaq" class="card" style="background-image: url('/roshn-saudi-images/al-ettifaq.png');"></a>
    <a href="/team/al-fateh" class="card" style="background-image: url('/roshn-saudi-images/al-fateh.png');"></a>
    <a href="/team/al-fayha" class="card" style="background-image: url('/roshn-saudi-images/al-fayha.png');"></a>
    <a href="/team/damac" class="card" style="background-image: url('/roshn-saudi-images/damac.png');"></a>
    <a href="/team/al-wehda" class="card" style="background-image: url('/roshn-saudi-images/al-wehda.png');"></a>
    <a href="/team/al-raed" class="card" style="background-image: url('/roshn-saudi-images/al-raed.png');"></a>
    <a href="/team/al-khaleej" class="card" style="background-image: url('/roshn-saudi-images/al-khaleej.png');"></a>
    <a href="/team/al-riyadh" class="card" style="background-image: url('/roshn-saudi-images/al-riyadh.png');"></a>
    <a href="/team/al-okhdood" class="card" style="background-image: url('/roshn-saudi-images/al-okhdood.png');"></a>
    <a href="/team/al-qadsiah" class="card" style="background-image: url('/roshn-saudi-images/al-qadsiah.png');"></a>
    <a href="/team/al-kholood" class="card" style="background-image: url('/roshn-saudi-images/al-kholood.png');"></a>
    <a href="/team/al-orobah" class="card" style="background-image: url('/roshn-saudi-images/al-orobah.png');"></a>
  </div>
</body>
</html>
